html, body {
    margin: 0px;
    padding: 0px;
}

main {
    background: #CCC;
    font-family: sans-serif;
    text-align: center;
}

#root img {
    display: inline-block;
    padding: 0;
    margin: 4px;
    width: 256px;
    height: 256px;
    border: 1px solid silver;
    border-radius: 4px;
}