html, body{ margin: 0px; }

body{
	background: #CCC;
	font-family: sans-serif;
}

header, main, footer{
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

main #holder{
    width: 95%;
    margin: 60px auto;
}

header span{ margin-left: 4px; }

nav{
    float: right;
    display: block;
    position: fixed;
}

figure{
    display: inline-block;
    padding: 0;
    margin: 2px;
    width: 192px;
    height: 192px;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    border: 1px solid silver;
    border-radius: 2px;
}